{% extends 'base2.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %} Party Totals by Street {% endblock %}

{% block addedstylesheets %} 

 <!--   
     -->
     {% include 'datatablestylesheets.html' %}

 {% endblock %}



{% block content %}

<div>
  <h1 id="firsth1">      Voter Stats by Street Name  </h1>
<!-- 
    commenting this out 
    maybe use to 
    clear map or
    incorporate  selection checkboxes and use to add map or remove from map? 
    <button id="mapWindowButton" class="btn btn-info" onclick="loadAPI();">Load Map</button>
-->

<p> Towns include: 
    {% for t in town_list %}
    {{t}}
    {% endfor %} 
</p>
</div>




 {% if vstats_table %}


<div class="table-responsive">

<table id="tableid" class="display table table-hover" >
    <thead>
        <tr>
            <th>City Name </th>
            <th>R Voters</th>
            <th>U Voters</th>
            <th>M Voters</th>
            <th>D Voters</th>
        </tr>
    </thead>
    <tfoot>

    </tfoot>
    <tbody>
    {% for vstats in vstats_table %}
        <tr id="voterrowid" 
            class="voterrowclass" 
            data-rowid ="{{ vstats.vstat_id }}"
            data-city ="{{ vstats.city }}"
            data-street_name ="{{ vstats.street_name }}"
            >
            <td>{{ vstats.city }} </td>
            <td>{{ vstats.rvoters }}</td>
            <td>{{ vstats.uvoters }}</td>
            <td>{{ vstats.mvoters }}</td>
            <td>{{ vstats.dvoters }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% else %}
<div>
      <h3>context is not vstats_table </h3>
    <p>unable to display data with context provided.</p>
</div>
{% endif %}

<div>
    <p class="lead" id="testpara"></p>

</div>



<div id="map-canvas" style="width:800;height:800px"></div>
<div id="list"></div>


{% endblock content %}

{% block addedscripts %} 
 <!--   
          -->
    {% include 'datatablescripts.html' %}
        <script src="{% static 'js/mydatatable.js' %}"></script> <!-- cag20160116 - use this to add voter names :) -->
        <script src="{% static 'js/traversefunction.js' %}"></script>
        <script src="{% static 'js/needvoters.js' %}"></script> <!-- cag20160116 - use this to find voter names that live at homes found:) -->
        <script src="{% static 'js/needhomes.js' %}"></script> <!-- cag20160116 - use this to find homes that match city and street -->
        <script src="{% static 'js/mapcityvoters.js' %}"></script>

    {% include 'mapscripts.html' %}
        <script src="{% static 'js/maptest.js' %}"></script>


{% endblock addedscripts %}
