{% load staticfiles %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->    
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet">



<!-- DATATABLE STUFF 
    known to mess up
    navbar drop down -->

    <!-- cag20160215 
        check out http://cdn.datatables.net/ 
        for more info on datatable CDNs -->
    <!-- cag20160215 
        used download builder to get datatable folder of stuff
        reference this - http://www.datatables.net/download/ -->

